body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('imagens/bandeira.jpg'),
        url('imagens/fundo.jpg');

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: center, center, center;
    background-attachment: fixed, fixed, fixed;
    background-blend-mode: normal, overlay, normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 100px;
}

h1 {
    font-size: 3em;
    color: black;
    margin: 0;
    font-weight: bold;
}

.bandeira {
    width: 180px;
    height: auto;
    border: 1px solid #ddd;
}

.barra-azul {
    display: block;
    width: 80%;
    height: 25px;
    background-color: blue;
    margin: 20px auto;
}

.conteudo-hino {
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 50px;
}

.estrofe-vermelha {
    display: block;
    color: red;
    margin-bottom: 25px;
}

.estrofe-azul {
    display: block;
    color: blue;
    margin-bottom: 25px;
}

p {
    margin: 0;
    line-height: 1.4;
}
.audio-canto {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.audio-canto audio {
    opacity: 0.8;
    transition: 0.3s;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.audio-canto audio:hover {
    opacity: 1;
}